<div class="container-fluid" style="z-index: -1">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Users</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                    </a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active">Default</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{title}} </h5><span></span>
                    <a href="/user/create" class="btn btn-outline-primary pull-right"><i class="fa fa-plus-circle"></i> Add New User</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive product-table">
                            <table class="display" id="basic-1">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th >Photo</th>
                                    <th >fullname</th>
                                    <th >email</th>
                                    <th >UserRole</th>
                                    <th >isActive?</th>
                                    <th >Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each userList}}
                                    <tr>
                                        <td>{{this._id}}</td>
                                        <td><img width="100" height="100" src="{{this.imagePath}}" class="circle-img rounded-circle img-thumbnail" alt="{{this.title}}" /></td>
                                        <td>{{this.fullname}}</td>
                                        <td>{{this.email}}</td>
                                        <td>{{this.userRole}}</td>
                                        <td >
                                            {{#if this.isActive}}
                                                <span class="font-success">{{this.isActive}}</span>
                                            {{else}}
                                                <span class="font-danger">{{this.isActive}}</span>
                                            {{/if}}
                                        </td>
                                        <td>
                                            <a href='/user/view/{{this._id}}'><i class="fa fa-eye"></i></a>
                                            <a href='/user/edit/{{this._id}}'><i class="fa fa-edit"></i></a>
                                            <a href='/user/delete/{{this._id}}'><i class="fa fa-trash"></i></a>
                                        </td>

                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

